*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    background-color: yellowgreen;
}

.container {
    /* display: flex; */
    color:blue;
}

.navigation {
    background-color: blue;
    width: 200px;
    height: 350px;
    margin: 20px 20px;
    float: left;
    
}
  
.linksBox {
    background-color: white;
    margin: 10px 10px;
    padding: 10px 10px 10px 10px
}
.links {
    display: inline-block;
    width: 150px;
    height: 40px;

    border-right: 20px solid black;
}

.content {
    flex: 1; 
    background-color: lightblue; 
    padding: 20px;
    float: right;
    width: 700px;
    height: 70vh;

}
