*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.myTable{
    border: 1px solid black;
    width: 100%;
    height: 1000px;

    /* to get rid of the gap */
    border-collapse: collapse;

    /* border-spacing: 20px; */
}

.myTable td{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.myTable th{
    border: 1px solid black;
    /* background-color: black;
    color: white; */
}