*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.myTable{
    border: 1px solid black;
    width: 100%;
    height: 100vh;

    /* to get rid of the gap */
    border-collapse: collapse;
    /* border-spacing: 20px; */
}

.myTable td{
    border: 1px solid black;
    /* text-align: center; */
    /* font-weight: bold; */
    /* padding: 20px; */
}

.myTable th{
    border: 1px solid black;
    /* background-color: black;
    color: white; */
}

/* Navbar styling starts here */


.nav{

}

.navContainer{
    background-color: rgb(35, 35, 35);
    color: white;
    height: 100%;
    width: 100%;
    padding: 18px 40px;
}

.logoContainer{
    /* background-color: red; */
    padding: 10px;
    display: inline;
    float: left;
}

.logoContainer h2{
    /* background-color: pink; */
    display: inline;

}


.linksContainer{
    /* background-color: red; */
    padding: 10px;
    display: inline;
    float: right;

}

.linksContainer li{
    /* background-color: purple; */
    display: inline;
    margin-right: 20px;

}

.contactBtn{
    background-color: #0383a9 ;
    /* margin-left: 200px; */
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
}

.contactBtn:hover{
    background-color: #0ea8d7 ;
    padding: 12px 23px;
    border-radius: 12px;

    /* animation effect */
    transition-duration: 1s;
    transition-delay: 0.2s;
}



/* Navbar styling ends here */

/* Right aside styling starts here*/

.rightAsideContainer {
    height: 100%;
    border: none; 
    border-collapse: collapse;

}

.rightAsideContainer td {
    border: none; 
    padding: 20px;
}

.rightAsideContainer h1 {
    padding-left: 5px;
}

.rightAsideContainer ul {
    list-style-type: none; 
    padding-left: 10px;
}


/* Right aside styling end here*/

/* Aside styling starts here */


.asideContainer {
    height: 100%;
    /* background-color: red; */
}



.asideContainer li{
    /* margin: 10px 0; */
    padding-left: 10px; /* Adjust the value as needed */
    border-collapse: separate;
    list-style-type: none;
    border-bottom: 1px solid #e9e3e3;
    padding: 15px 0px;
    padding-left: 10px;
}



.asideContainer li:hover{
    background-color: #e2f5fb ;

    /* border-radius: 10px; */

    /* animation effect */
    transition-duration: 1s;
    transition-delay: 0.1s;
}

.nameContainer {
    float: top;
    border-radius: 50%;
    text-align: center;
}
.asideContainer img{
    margin-top: 10px;
    text-align: center;
    border-radius: 50%;
}


/* Aside styling ends here */

/* Content styling starts here */
.bodyTable{
    width: 98%;
    height: 100%;
    text-align: center;
    margin: auto;
    border-spacing: 20px;
}

/* .tableColumn {
    text-align: ;
} */


.content{
    height: 100%;
    text-align: left;
}

hr{
    width: 80%;
    margin: auto;
}

.footTable{
    width: 100%;
    height: 100%;
    text-align: left;
    /* margin-left: 150px; */

}


.footTable td{
    /* border: none; */
    padding-left: 20px;
}
/* Content styling ends here */